/* ======== responsive css ======== */
/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
  /* === navbar === */
  #navbar .navbar-nav {
    text-align: center;
    row-gap: 10px;
    margin-bottom: 15px;
  }
  .nav_btn_wrapper {
    display: flex;
    justify-content: center;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    text-align: center;
  }
  .banner_heading {
    font-size: 44px;
    margin: 0 auto;
    line-height: 64px;
    margin: 20px 0;
  }
  .banner_btn_wrapper {
    justify-content: center;
    gap: 25px;
  }

  /* === banner === */
  /* === counter === */
  #counter{
    padding: 64px 0;
  }
  /* === counter === */
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* === navbar === */
  #navbar .navbar-nav {
    text-align: center;
    row-gap: 10px;
    margin-bottom: 15px;
  }
  .nav_btn_wrapper {
    display: flex;
    justify-content: center;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    text-align: center;
  }
  .banner_btn_wrapper {
    justify-content: center;
  }
  /* === banner === */
  /* === counter === */
  #counter{
    padding: 64px 0;
  }
  /* === counter === */
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* === navbar === */
  #navbar .navbar-nav {
    text-align: center;
    row-gap: 10px;
    margin-bottom: 15px;
  }
  .nav_btn_wrapper {
    display: flex;
    justify-content: center;
  }

  /* === navbar === */
  /* === banner === */
  #banner {
    text-align: center;
  }
  .banner_btn_wrapper {
    justify-content: center;
  }
  /* === banner === */
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ========================= device (xl 1200 > 1400) ========================= */
/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {
}
/* ========================= device (xxl 1400 >>) ========================= */
/* ======== responsive css ======== */

/* ===== design by AJOY SAHA ===== */
