/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --poppins-font: "Poppins", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #5e3bee;
  --primary-bg-clr: #f9f9fc;
  --secondary-bg-clr: #191919;
  --primary-text-clr: #333;
  --secondary-text-clr: #dddddd;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1208px;
  margin: 0 auto;
}
body {
  font-family: var(--poppins-font);
}
/* ============= common css end here ================ */
/* ================= navbar css start here ================ */
#navbar {
  width: 100%;
  padding: 30px 0;
  background-color: var(--primary-bg-clr);
  position: absolute;
  top: 0;
  left: 0;
}
#navbar .navbar-brand {
  max-width: 121px;
}
#navbar .navbar-nav {
  column-gap: 47px;
}
#navbar .nav-link {
  padding: 0;
  color: var(--black-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: 22px;
  letter-spacing: 1.5px;
}
.nav_btn {
  padding: 11px 22px;
  color: var(--white-clr);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: 0.5px;
  border-radius: 50px;
  background: var(--primary-clr);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  outline: none;
}
.nav_btn i {
  margin-left: 7px;
  font-size: 16px;
}

/* ================= navbar css end here ================ */

/* ================ banner section css start here ============ */
#banner {
  padding: 116px 0 44px;
}
.banner_sub_heading {
  color: var(--primary-clr);
  font-size: 16px;
  font-weight: var(--medium-weight);
  line-height: 26px;
  letter-spacing: 1.5px;
}
.banner_heading {
  color: var(--primary-text-clr);
  font-size: 60px;
  font-weight: bold;
  line-height: 78px;
  margin: 32px 0;
}
.banner_btn_wrapper{
  column-gap: 23px;
}
.banner_btn_wrapper .banner_btn:nth-child(1) {
  padding: 24px 38px;
  color: var(--white-clr);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: 0.5px;
  border-radius: 50px;
  background: var(--primary-clr);
}
.banner_btn_wrapper .banner_btn:nth-child(1) i {
  margin-right: 9px;
  font-size: 18px;
}
.banner_btn_wrapper .banner_btn:nth-child(2) {
  color: var(--primary-text-clr);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.banner_btn_wrapper .banner_btn:nth-child(2) img{
  width: 20px;
  height: 20px;
}
.banner_image_part_wrapper{
  max-width: 700px;
}

/* ================ banner section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */

/* ================  section css start here ============ */
/* ================  section css end here ============ */
